@charset "UTF-8";
/*
** ******全局变量******
*/
/*
** ******全局样式*****
*/
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, input {
  margin: 0;
  padding: 0;
  border: 0; }

input, button, textarea {
  font-size: 14px;
  font-family: "微软雅黑",Helvetica,Sans-serif; }

body {
  color: #333;
  background-color: #fff;
  font-size: 14px;
  font-family: "微软雅黑",Helvetica,Sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: 20px; }

span, p {
  word-wrap: break-word; }

/*
** ******mixin部分******
*/
/*
* ******基础样式******
*/
.float-left {
  float: left; }

.float-right {
  float: right; }

.base-separator {
  height: 10px;
  background-color: #f2f2f2;
  width: 100%;
  position: relative; }
  .base-separator:before {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 10%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    content: "";
    position: absolute;
    box-sizing: border-box;
    display: block;
    top: 0;
    left: 0;
    bottom: -100%;
    right: -100%;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd; }

.large-separator {
  height: 40px;
  background-color: #f2f2f2;
  width: 100%; }

.has-header {
  height: 50px;
  width: 100%; }

.has-menu {
  height: 50px;
  width: 100%; }

.has-user-menu {
  height: 55px;
  width: 100%; }

.check-color {
  color: #1fc1d9; }

.overflowhide {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%; }

.button-full {
  width: 100%;
  height: 40px;
  background-color: #1fc1d9;
  color: #fff;
  border: none;
  margin-bottom: 20px; }

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #1fc1d9;
  color: #fff;
  text-align: center;
  z-index: 20; }
  .header .title {
    height: 30px;
    width: 100px;
    line-height: 30px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -50px; }
  .header .header-item {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-top: 5px; }
    .header .header-item a {
      display: inline-block;
      height: 100%;
      width: 100%; }
    .header .header-item img {
      height: 20px;
      vertical-align: middle; }
  .header .header-item-width {
    width: 80px; }
    .header .header-item-width .btn {
      width: 60px;
      height: 30px;
      border-radius: 3px;
      line-height: 30px;
      margin-right: 10px;
      background-color: #fff;
      color: #1fc1d9;
      text-align: center;
      display: inline-block;
      margin-top: 5px; }
    .header .header-item-width .text {
      height: 50px;
      line-height: 50px; }
  .header .home-icon {
    line-height: 20px;
    margin-top: 10px; }
  .header .follow .icon {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-top: -3px;
    vertical-align: middle;
    background: url("../../contents/svg/jia-white.svg");
    background-size: contain; }
  .header .follow .txt {
    display: inline-block; }
  .header .follow .select {
    background: url("../../contents/svg/check-mark-white.svg");
    background-size: contain; }

.header-transparent {
  background-color: transparent;
  color: #666;
  position: absolute; }

.prduct-container {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  list-style: none; }
  .prduct-container .item {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    position: relative; }
    .prduct-container .item:before {
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 10%;
      -ms-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      content: "";
      position: absolute;
      box-sizing: border-box;
      display: block;
      left: 0;
      right: -100%;
      bottom: 0;
      border-bottom: solid 1px #ddd; }
    .prduct-container .item .item-img {
      height: 80px;
      width: 80px;
      margin-right: 5px;
      border-radius: 2px; }
    .prduct-container .item .item-desc {
      margin-left: 90px; }
      .prduct-container .item .item-desc .item-subhead {
        font-size: 12px;
        margin-top: 5px; }
      .prduct-container .item .item-desc .score {
        color: #1fc1d9;
        margin-top: 5px; }
      .prduct-container .item .item-desc .item-price {
        overflow: hidden;
        margin-top: 18px; }
        .prduct-container .item .item-desc .item-price div {
          line-height: 20px; }
        .prduct-container .item .item-desc .item-price .item-count {
          font-size: 12px; }
        .prduct-container .item .item-desc .item-price .vip {
          color: #1fc1d9; }
        .prduct-container .item .item-desc .item-price .saleprice {
          color: #1fc1d9; }
        .prduct-container .item .item-desc .item-price .priceType {
          color: #1fc1d9;
          font-size: 12px; }
        .prduct-container .item .item-desc .item-price .price {
          font-size: 12px;
          text-decoration: line-through;
          color: #959595; }
    .prduct-container .item .exam-desc {
      margin-left: 10px; }
    .prduct-container .item .item-qiang {
      border: solid 1px #FF5A00;
      height: 30px;
      line-height: 30px;
      text-align: center;
      margin-top: 5px; }
      .prduct-container .item .item-qiang .text {
        color: #959595;
        margin-right: 80px;
        text-decoration: line-through; }
      .prduct-container .item .item-qiang .btn {
        width: 80px;
        background-color: #FF5A00;
        float: right;
        color: #fff; }
    .prduct-container .item .no {
      border: solid 1px #959595; }
      .prduct-container .item .no .btn {
        background-color: #959595; }

.button-menu {
  position: fixed;
  z-index: 20;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  height: 50px;
  color: #9f9f9f;
  border-top: solid 1px #ddd; }
  .button-menu .button-menu-item {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center; }
    .button-menu .button-menu-item .icon {
      display: inline-block;
      text-align: center;
      height: 40px;
      font-size: 12px;
      margin-top: 5px; }
      .button-menu .button-menu-item .icon p {
        line-height: 15px; }
      .button-menu .button-menu-item .icon div {
        height: 25px;
        width: 25px; }
      .button-menu .button-menu-item .icon .homeIcon {
        background: url("../../contents/svg/home-uncheck.svg");
        background-size: contain; }
      .button-menu .button-menu-item .icon .doctorIcon {
        background: url("../../contents/svg/doctor-uncheck.svg");
        background-size: contain; }
      .button-menu .button-menu-item .icon .InteractionIcon {
        background: url("../../contents/svg/hudong-uncheck.svg");
        background-size: contain; }
      .button-menu .button-menu-item .icon .userIcon {
        background: url("../../contents/svg/user-uncheck.svg");
        background-size: contain; }
    .button-menu .button-menu-item .check {
      color: #1fc1d9; }
      .button-menu .button-menu-item .check .homeIcon {
        background: url("../../contents/svg/home-check.svg");
        background-size: contain; }
      .button-menu .button-menu-item .check .doctorIcon {
        background: url("../../contents/svg/doctor-check.svg");
        background-size: contain; }
      .button-menu .button-menu-item .check .InteractionIcon {
        background: url("../../contents/svg/hudong-check.svg");
        background-size: contain; }
      .button-menu .button-menu-item .check .userIcon {
        background: url("../../contents/svg/user-check.svg");
        background-size: contain; }

.tip {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3); }
  .tip .container {
    width: 260px;
    height: 130px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -130px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #696969; }
    .tip .container .tip-text {
      height: 50px;
      text-align: center;
      padding: 20px;
      position: relative; }
      .tip .container .tip-text:before {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 10%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        content: "";
        position: absolute;
        box-sizing: border-box;
        display: block;
        left: 0;
        right: -100%;
        bottom: 0;
        border-bottom: solid 1px #ddd; }
    .tip .container .tip-btn {
      height: 39px;
      display: -webkit-box;
      display: flex;
      flex-direction: row;
      flex-flow: nowrap;
      position: relative; }
      .tip .container .tip-btn .item:nth-child(2) {
        position: relative; }
        .tip .container .tip-btn .item:nth-child(2):before {
          -webkit-transform: scale(0.5);
          -moz-transform: scale(0.5);
          -ms-transform: scale(0.5);
          transform: scale(0.5);
          -webkit-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 10%;
          -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          content: "";
          position: absolute;
          box-sizing: border-box;
          display: block;
          left: 0;
          top: 0;
          bottom: -100%;
          border-left: solid 1px #ddd; }
      .tip .container .tip-btn .item {
        /*解决ios8.0+下不等分问题*/
        width: 100%;
        -webkit-box-flex: 1.0;
        -moz-box-flex: 1.0;
        flex: 1.0;
        text-align: center;
        line-height: 39px;
        color: #1fc1d9; }

.loding {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  display: block; }
  .loding .content {
    text-align: center;
    width: 140px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -70px;
    border-radius: 5px;
    padding-top: 10px;
    background-color: #fff; }
    .loding .content img {
      width: 40px;
      height: 40px; }

.bg-color {
  background-color: #f2f2f2; }
