	<div class="header">
		<div class="title">
			找医生
		</div>
    </div>
	<div class="has-header"></div>
	<div class="drop">
		<div class="filter">
			<div class="filter-item" ng-repeat="item in menuParams" ng-class="{'check-color':item.has}" ng-click="switchNav($index,menuParams)">
				<span ng-bind="item.val"></span>
				<div></div>
			</div>
		</div>
		<div class="drop-menu">
			<ul id="drop-order" class="drop-menu-list" ng-show="menuParams[2].has">
				<li ng-repeat="item in orderParams" ng-class="{'li-check':item.has}" ng-click="switchDrop($index,orderParams)">
					<span ng-bind="item.val"></span>
					<div></div>
				</li>
			</ul>
			<ul id="drop-area" class="drop-menu-list" ng-show="menuParams[1].has">
				<li ng-repeat="item in areaParams" ng-class="{'li-check':item.has}" ng-click="switchDrop($index,areaParams)">
					<span ng-bind="item.val"></span>
					<div></div>
				</li>
			</ul>
			<ul class="drop-menu-double" ng-show="menuParams[0].has">
				<li ng-repeat="profession in professionalParams">
					<div class="title" ng-class="{'select':profession.has}" ng-click="switchLevelOne($index,professionalParams)">
						<span ng-bind="profession.val"></span>
						<div></div>
					</div>
					<div class="contents" ng-show="profession.has">
						<div class="contents-item" ng-repeat="item in profession.children" ng-class="{'check':item.has}" ng-click="switchLevelTwo($index,profession)">
							<span ng-bind="item.val"></span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="doctor-content">
		<ul class="doctor-wrap">
			<li ng-repeat = "doctor in doctors" ng-click="detail(doctor.id)">
				<img ng-src="{{doctor.face}}">
				<div class="text">
					<p class="name">
						<span ng-bind="doctor.doctorname"></span>
						<span ng-bind="doctor.professionTitle"></span>
					</p>
					<p class="score">
						<span ng-bind-template="{{doctor.score}}分"></span>
						<span ng-bind-template="{{doctor.sales}}人下单"></span>
					</p>
					<p class="address" ng-bind="doctor.hospital.name"></p>
					<p class="use">
						<span>擅长:</span>
						<span ng-bind="doctor.hobby"></span>
					</p>
				</div>
			</li>
		</ul>
	</div>
	<div class="cush-tip" ng-if="noProduct" ng-bind-template="{{$parent.noProductText}}"></div>
	<div class="product-bg" ng-if="hasBg"></div>
