
<div class="header">
	<div class="header-item float-left" ng-click="changeRoute('/home')">
		<img src="../contents/svg/back.svg">
	</div>
	<div class="title">
		体检
	</div>
</div>
<div class="has-header"></div>
<div class="exam-filter">
	<a ng-class="{'select':params.product}"  ng-click="switch('product')">体检套餐</a>
	<a ng-class="{'select':params.hospital}" ng-click="switch('hospital')">体检机构</a>
</div>
<div >
	<div ng-show="params.product">
		<div class="drop">
			<div class="filter col-4">
				<div class="filter-item" ng-repeat="item in menuParams" ng-class="{'check-color':item.has}" ng-click="switchMenu($index,menuParams)">
					<span class="filter-text" ng-bind="item.val"></span>
					<div></div>
				</div>
			</div>
			<div class="drop-menu exam-drop-menu">
				<ul class="drop-menu-list" ng-repeat="item in menuParams" ng-show="item.has">
					<li ng-repeat="children in item.children" ng-class="{'li-check':children.has}" ng-click="switchDrop($index,item.children)">
						<span ng-bind="children.val"></span>
						<div></div>
					</li>
				</ul>
			</div>
		</div>
		<ul class="prduct-container" >
			<li class="item" ng-repeat = "product in products" ng-click="detail(product.id,product.hospitalId)">
				<div class="item-desc exam-desc">
					<div class="item-title" ng-bind="product.title"></div>
					<div class="item-subhead" ng-bind="product.hospital.name"></div>
					<div class="item-price">
						<div class="float-left">
							<span class="saleprice">￥{{product.preferPrice}}</span>
							<span class="priceType">{{product.preferPriceType}}</span>
						</div>
						<div class="float-left margin-l">
							<span class="price float-left">￥{{product.standPrice}}</span>
						</div>
						<div class="float-left margin-l">
							<span class="vip">专享</span>
						</div>
						<div class="margin-right">
							<span class="item-count float-right">{{product.sales}}人下单</span>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<ul class="prduct-container" ng-show="params.hospital">
		<li class="item" ng-repeat = "hospital in hospitals">
			<img class="item-img float-left" ng-src="{{hospital.logo}}" fallback-src="../contents/img/p_default.png">
			<div class="item-desc">
				<div class="item-title" ng-bind="hospital.name"></div>
				<div class="score" ng-bind="hospital.score"></div>
				<div class="item-subhead" ng-bind="hospital.address"></div>
			</div>
		</li>
	</ul>
	<div class="cush-tip" ng-if="noProduct">{{$parent.noProductText}}</div>
	<div class="product-bg" ng-if="hasBg"></div>
</div>
