<div class="header">
	<div class="header-item float-left" ng-click="changeRoute('/home')">
		<img src="../contents/svg/back.svg">
	</div>
	<div class="title">
		免费抢单
	</div>
	<div class="header-item float-right" ng-click="question()">
		<img src="../contents/svg/question.svg">
	</div>
</div>
<div class="has-header"></div>
<div class="drop">
	<div class="filter">
		<div class="filter-item" ng-repeat="item in menuParams" ng-class="{'check-color':item.has}" ng-click="switchMenu($index,menuParams)">
			<span class="filter-text" ng-bind="item.val"></span>
			<div></div>
		</div>
	</div>
	<div class="drop-menu">
		<ul class="drop-menu-list" ng-repeat="item in menuParams" ng-show="item.has">
			<li ng-repeat="children in item.children" ng-class="{'li-check':children.has}" ng-click="switchDrop($index,item.children)">
				<span ng-bind="children.val"></span>
				<div></div>
			</li>
		</ul>
	</div>
</div>
<div class="prduct-container">
	<div class="item" ng-repeat="grab in grabs">
		<img class="item-img float-left" ng-src="{{grab.smallImg}}" fallback-src="../contents/img/p_default.png">
		<div class="item-desc">
			<div class="item-title" ng-bind="grab.title"></div>
			<div class="item-subhead" ng-bind="grab.hospital.name">
			</div>
			<div class="item-qiang" ng-class="{'no':grab.noamount}">
				<div class="btn" ng-bind="grab.btnMess" ng-click="writeCode(grab.noamount,grab.id,grab.hospitalId)"></div>
				<div class="text" ng-bind-template="价值：{{grab.standPrice}}"></div>
			</div>
		</div>
	</div>
</div>
<div class="product-bg" ng-if="hasBg"></div>
<div class="grab-imgtip" ng-if="showTip">
	<div class="grab-tip"></div>
	<div class="sharConttent">
		<img src="../contents/svg/grab-close.svg" class="close" ng-click="switchTip('close')">
	</div>
</div>
<div class="cush-tip" ng-if="noGrab" ng-bind-template="{{$parent.noProductText}}"></div>
