<div class="header">
	<div class="title">
		互动
	</div>
	<div class="header-item float-right" ng-click="changeRoute('/write')">
		<img src="../contents/svg/edit.svg">
	</div>
</div>
<div class="has-header"></div>
<div class="interaction-content">
	<div class="switch">
		<div class="item" ng-repeat="item in navParams" ng-class="{'select':item.has}" ng-click="switchType($index)" ng-bind="item.val"></div>
	</div>
	<ul class="card">
		<li ng-repeat="post in posts" ng-click="detail(post.id)">
			<img class="headimg" ng-src="{{post.faceImage|defaultHeadImg:post.sex}}" user-error="{{post.sex}}">
			<div class="container">
				<p class="name" ng-bind="post.userName"></p>
				<p class="text" ng-bind="post.postContent"></p>
				<div class="img">
					<div class="item" ng-repeat="img in post.list1" zoom-image>
						<img  ng-src="{{img}}">
					</div>	
				</div>
				<div class="info">
					<span ng-bind="post.middTimeStr"></span>
					<div class="mess">
						<img src="../contents/svg/mess.svg">
						<span ng-bind="post.commentNum"></span>
					</div>
					<div class="see">
						<img src="../contents/svg/see-grey.svg">
						<span ng-bind="post.visitNum"></span>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
<div class="cush-tip" ng-if="noProduct" ng-bind-template="{{$parent.noProductText}}"></div>