<div class="header" data-ng-init="init()">
	<div class="header-item float-left" ng-click="changeRoute('/invite/new')">
		<img src="../contents/svg/back.svg">
	</div>
	<div class="title">
		邀请记录
	</div>
</div>
<div class="has-header"></div>
<div class="invite-notes-container" ng-style="bodyStyle">
    <div class="bg-container" ng-style="bgStyle">
        <div class="bg"></div>
    </div>
    <div class="notes-content">
        <div class="notes-tip">
            <div class="tip-item">好友</div>
            <div class="tip-item">电话</div>
            <div class="tip-item">时间</div>
        </div>
        <div class="notes-item" ng-repeat="note in notes">
            <div ng-bind="note.userName"></div>
            <div ng-bind="note.phone"></div>
            <div ng-bind="note.createTimeStr"></div>
        </div>
        <div class="notes-item" ng-if="noNote">
            <p>还没有邀请记录</p>
        </div>
    </div>
</div>