<div class="header">
	<div class="header-item float-left" ng-click="changeRoute('/home')">
		<img src="../contents/svg/back.svg">
	</div>
	<div class="title">健康资讯</div>
</div>
<div class="has-header"></div>
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img class="swiper-img" ng-style="imgStyle" src="../contents/img/health_1.jpg">
		</div>
		<div class="swiper-slide">
			<img class="swiper-img" ng-style="imgStyle" src="../contents/img/health_2.jpg">
		</div>
		<div class="swiper-slide">
			<img class="swiper-img" ng-style="imgStyle" src="../contents/img/health_3.jpg">
		</div>
	</div>
	<div class="swiper-pagination"></div>
</div>
<div class="new-nav">
	<div class="nav-item" ng-repeat="item in navParams" ng-class="{'select':item.has}" ng-click="switch($index,navParams)" ng-bind="item.val"></div>
</div>
<ul class="item-container">
	<li ng-repeat="new in news" ng-click="toDetail(new.id)">
		<img ng-src="{{new.picture|defaultImg:'pro'}}" product-error>
		<div>
			<p class="title" ng-bind="new.title"></p>
			<p class="date" ng-bind="new.createtimeStr"></p>
		</div>
	</li>
</ul>
<div class="cush-tip" ng-if="noProduct" ng-bind-template="{{$parent.noProductText}}"></div>
