<div class="header" data-ng-init="initDetail()">
	<div class="header-item float-left" ng-click="changeRoute('/news')">
		<img src="../contents/svg/back.svg">
	</div>
	<div class="title">
		资讯
	</div>
</div>
<div class="has-header"></div>
<div class="newdetail-content">
	<div class="content-header">
		<p class="title" ng-bind="detail.title"></p>
		<p class="date" ng-bind="detail.createtimeStr"></p>
	</div>
	<div class="content-text">
		<p ng-repeat="text in detail.content" ng-bind="text"></p>
	</div>
	
</div>
