<div class="header">
	<div class="header-item float-left" ng-click="changeRoute('/home')">
		<img src="../contents/svg/back.svg">
	</div>
	<div class="title" ng-bind="title">
	</div>
	<div class="header-item float-right" ng-click="question()">
		<img src="../contents/svg/question.svg">
	</div>
</div>
<div class="has-header"></div>
<div class="drop">
	<div class="filter">
		<div ng-repeat="item in menuParams" class="filter-item" ng-class="{'check-color':item.has}" ng-click="switchMenu($index,menuParams)">
			<span class="filter-text" ng-bind="item.val"></span>
			<div></div>
		</div>
	</div>
	<div class="drop-menu">
		<ul ng-repeat="item in menuParams" class="drop-menu-list" ng-show="item.has">
			<li ng-repeat="children in item.children" ng-class="{'li-check':children.has}" ng-click="switchDrop($index,item.children)">
				<span ng-bind="children.val"></span>
				<div></div>
			</li>
			</li>
		</ul>
		<ul class="drop-menu-grid" ng-show="menuParams[2].has" >
			<li class="item" ng-repeat="item in classParams" ng-class="{'item-check':item.has}" ng-click="switchDrop($index,classParams)">
				<img ng-src="{{item.src}}">
				<p ng-bind="item.val"></p>
			</li>
		</ul>
	</div>
</div>
<ul class="prduct-container" >
	<li class="item" ng-repeat = "product in products" ng-click="detail(product.id,product.hospitalId)" >
		<img class="item-img float-left" ng-src="{{product.smallImg|defaultImg:'pro'}}" product-error>
		<div class="item-desc">
			<div class="item-title" ng-bind="product.title"></div>
			<div class="item-subhead" ng-bind="product.hospital.name"></div>
			<div class="item-price">
				<div class="float-left">
					<span class="saleprice" ng-bind-template="￥{{product.preferPrice}}"></span>
					<span class="priceType" ng-bind-template="{{product.preferPriceType}}"></span>
				</div>
				<div class="float-left margin-l">
					<span class="price float-left" ng-bind-template="￥{{product.standPrice}}"></span>
				</div>
				<div class="margin-right">
					<span class="item-count float-right" ng-bind-template="{{product.sales}}人下单"></span>
				</div>
			</div>
		</div>
	</li>
</ul>
<div class="cush-tip" ng-if="noProduct" ng-bind-template="{{$parent.noProductText}}"></div>
<div class="product-bg" ng-if="hasBg"></div>
