
<div class="header">
	<div class="header-item float-left" ng-click="changeRoute('/login')">
		<img src="../contents/svg/back.svg">
	</div>
	<div class="title">
		注册
	</div>
</div>
<div class="has-header"></div>
<div class="register-content">
	<div class="item">
		<input type="text" placeholder="请输入手机号码" ng-model="phone" ng-blur="phoneCheck()">
	</div>
	<div class="item-code">
		<button class="item-btn able" ng-bind="codeText" ng-click="getCode()"></button>
		<div class="item-input">
			<input type="text" placeholder="请输入短信验证码" ng-model="code">
		</div>
	</div>
	<div class="item">
		<input type="password" placeholder="请输入8-20位登陆密码" ng-model="password">
	</div>
	<div class="item">
		<input type="password" placeholder="请再次输入8-20位登陆密码" ng-model="passwordAgian">
	</div>
	<div class="item">
		<input type="text" placeholder="请输入邀请码，可不填" ng-model="referralCode">
	</div>
	<div class="item-tip">
		<p>注册即视为同意<span ng-click="changeRoute('/agreement')"><<悠康用户注册协议>></span></p>
	</div>
	<button class="button-full" ng-click="register()">注册</button>
</div>
