<li class="item" ng-class="{'item-check':classParams.all.has}" ng-click="classSelect('all')">
	<img src="../contents/svg/yake/all.svg">
	<p> 全部 </p>
</li>
<li class="item" ng-class="{'item-check':classParams.zzy.has}" ng-click="classSelect('zzy')">
	<img src="../contents/svg/yake/zzy.svg">
	<p>种植牙</p>
</li>
<li class="item" ng-class="{'item-check':classParams.xiya.has}" ng-click="classSelect('xiya')">
	<img src="../contents/svg/yake/xiya.svg">
	<p> 洗牙 </p>
</li>
<li class="item" ng-class="{'item-check':classParams.kcy.has}" ng-click="classSelect('kcy')">
	<img src="../contents/svg/yake/kcy.svg">
	<p>烤瓷牙</p>
</li>
<li class="item" ng-class="{'item-check':classParams.buya.has}" ng-click="classSelect('buya')">
	<img src="../contents/svg/yake/buya.svg">
	<p> 补牙 </p>
</li>
<li class="item" ng-class="{'item-check':classParams.baya.has}" ng-click="classSelect('baya')">
	<img src="../contents/svg/yake/baya.svg">
	<p>拔牙</p>
</li>
<li class="item" ng-class="{'item-check':classParams.ycmr.has}" ng-click="classSelect('ycmr')">
	<img src="../contents/svg/yake/ycmr.svg">
	<p>牙齿美容</p>
</li>
<li class="item" ng-class="{'item-check':classParams.jiaozheng.has}" ng-click="classSelect('jiaozheng')">
	<img src="../contents/svg/yake/jiaozheng.svg">
	<p>牙齿矫正</p>
</li>
<li class="item" ng-class="{'item-check':classParams.yichi.has}" ng-click="classSelect('yichi')">
	<img src="../contents/svg/yake/yichi.svg">
	<p>义齿</p>
</li>
<li class="item" ng-class="{'item-check':classParams.yzzl.has}" ng-click="classSelect('yzzl')">
	<img src="../contents/svg/yake/yzzl.svg">
	<p>牙周治疗</p>
</li>
<li class="item" ng-class="{'item-check':classParams.qita.has}" ng-click="classSelect('qita')">
	<img src="../contents/svg/yake/qita.svg">
	<p>其他</p>
</li>
