<li class="item" ng-class="{'item-check':classParams.all.has}" ng-click="classSelect('all')">
	<img src="../contents/svg/meirong/all.svg">
	<p> 全部 </p>
</li>
<li class="item" ng-class="{'item-check':classParams.yanbu.has}" ng-click="classSelect('yanbu')">
	<img src="../contents/svg/meirong/yanmei.svg">
	<p>眼眉整形</p>
</li>
<li class="item" ng-class="{'item-check':classParams.mianbu.has}" ng-click="classSelect('mianbu')">
	<img src="../contents/svg/meirong/mianbu.svg">
	<p>面部整形</p>
</li>
<li class="item" ng-class="{'item-check':classParams.bibu.has}" ng-click="classSelect('bibu')">
	<img src="../contents/svg/meirong/bibu.svg">
	<p>鼻部整形</p>
</li>
<li class="item" ng-class="{'item-check':classParams.xiong.has}" ng-click="classSelect('xiong')">
	<img src="../contents/svg/meirong/xiong.svg">
	<p>胸部整形</p>
</li>
<li class="item" ng-class="{'item-check':classParams.xizhi.has}" ng-click="classSelect('xizhi')">
	<img src="../contents/svg/meirong/xizhi.svg">
	<p>吸脂塑形</p>
</li>
<li class="item" ng-class="{'item-check':classParams.simi.has}" ng-click="classSelect('simi')">
	<img src="../contents/svg/meirong/simi.svg">
	<p>私密整形</p>
</li>
<li class="item" ng-class="{'item-check':classParams.zhushe.has}" ng-click="classSelect('zhushe')">
	<img src="../contents/svg/meirong/zhushe.svg">
	<p>注射美容</p>
</li>
<li class="item" ng-class="{'item-check':classParams.jiguang.has}" ng-click="classSelect('jiguang')">
	<img src="../contents/svg/meirong/jiguang.svg">
	<p>激光美肤</p>
</li>
<li class="item" ng-class="{'item-check':classParams.koucun.has}" ng-click="classSelect('koucun')">
	<img src="../contents/svg/meirong/koucun.svg">
	<p>口唇整形</p>
</li>
<li class="item" ng-class="{'item-check':classParams.qita.has}" ng-click="classSelect('qita')">
	<img src="../contents/svg/meirong/qita.svg">
	<p>其他</p>
</li>
