<li class="item" ng-class="{'item-check':classParams.all.has}" ng-click="classSelect('all')">
	<img src="../contents/svg/zhongyi/all.svg">
	<p> 全部 </p>
</li>
<li class="item" ng-class="{'item-check':classParams.toubu.has}" ng-click="classSelect('toubu')">
	<img src="../contents/svg/zhongyi/toubu.svg">
	<p>头部</p>
</li>
<li class="item" ng-class="{'item-check':classParams.jianjing.has}" ng-click="classSelect('jianjing')">
	<img src="../contents/svg/zhongyi/jianjing.svg">
	<p>肩颈</p>
</li>
<li class="item" ng-class="{'item-check':classParams.yaobu.has}" ng-click="classSelect('yaobu')">
	<img src="../contents/svg/zhongyi/yaobu.svg">
	<p>腰部</p>
</li>
<li class="item" ng-class="{'item-check':classParams.tuibu.has}" ng-click="classSelect('tuibu')">
	<img src="../contents/svg/zhongyi/tuibu.svg">
	<p>腿部</p>
</li>
<li class="item" ng-class="{'item-check':classParams.quanshen.has}" ng-click="classSelect('quanshen')">
	<img src="../contents/svg/zhongyi/quanshen.svg">
	<p>全身</p>
</li>
<li class="item" ng-class="{'item-check':classParams.jingluo.has}" ng-click="classSelect('jingluo')">
	<img src="../contents/svg/zhongyi/jingluo.svg">
	<p>经络</p>
</li>
<li class="item" ng-class="{'item-check':classParams.qita.has}" ng-click="classSelect('qita')">
	<img src="../contents/svg/zhongyi/qita.svg">
	<p>其他</p>
</li>
