<div class="inte-detail-content" data-ng-init="init()">
    <div class="message">
        <ul>
            <li ng-repeat="message in messages">
                <img class="head-img" ng-src="{{message.faceImage}}"  fallback-src="../contents/img/doc-head.png">
                <div class="text">
                    <p class="name">
                        <span>医生 {{message.doctorName}}</span>
                        <span></span>
                    </p>
                    <p class="title">
                        <span ng-if="message.noReply">暂未</span><span>回复我</span><span ng-hide="message.noReply" ng-bind="message.postIntro"></span>
                    </p>
                    <div class="reply">
                        <p>
                            <span>针对问题：</span>
                            <span ng-bind="message.postContent"></span>
                        </p>
                    </div>
                    <div class="footer">
                        <span class="time" ng-bind="message.dataStr"></span>
                        <span class="detail-link" ng-click="detail(message.doctorId)">继续咨询医生</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="cush-tip" ng-if="noProduct">{{$parent.noProductText}}</div>
<div ng-include="'section/tip.html'"></div>
<div ng-include="'section/loading.html'"></div>