<div class="inte-detail-content" data-ng-init="init()">
    <div class="message">
        <ul>
            <li ng-repeat="reply in replys">
                <img class="head-img" ng-src="{{reply.userImage}}" fallback-src="../contents/img/men-head.png">
                <div class="text">
                    <p class="name">
                        <span ng-bind="reply.userName"></span>
                        <span></span>
                    </p>
                    <p class="title" ng-bind="reply.content"></p>
                    <div class="reply">
                        <p>
                            <span>针对帖子：</span>
                            <span ng-bind="reply.postName"></span>
                        </p>
                    </div>
                    <div class="footer">
                        <span class="time" ng-bind="reply.dataStr"></span>
                        <span class="detail-link" ng-click="goPost(reply.postId)">查看详细内容</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="cush-tip" ng-if="noProduct">{{$parent.noProductText}}</div>
<div ng-include="'section/tip.html'"></div>
<div ng-include="'section/loading.html'"></div>